<p>
  名前：<%= name %>
</p>
<p>
  年齢：<%= age %>
</p>

<hr>

<p>
  新しい年齢：<input type="text" />
  <br>
  <font size="1px" color="orange">
    Model へ反映 ⇨ 自動的に View へ反映されるデモです。<br>
    ただリアルタイムデータバインドが聞いてないのでカーソル外してください..</font>
</p>
